
$black: #111111;
$gray: #bebebe;
$white: #ffffff;

$blue: hsl(209, 100%, 50%);
$blue-dark: hsl(209, 100%, 40%);
$blue-darkest: hsl(209, 100%, 30%);
$purple: hsl(275, 100%, 50%);
$purple-dark: hsl(275, 100%, 30%);

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$mobile-pads: 20px;
$tablet-pads: 30px;
$desktop-pads: 40px;




